<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div>
    <form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Mode</th>
        <th>Description</th>
        <th>Route</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="option in optionsManagement.shipmentOptions">
        <td>{{option.OptionId}}</td>
        <td style="max-width: 25%;" show-errors ng-model="option.Mode">
          <div show-errors ng-model="option.Mode">
          <input class="form-control" name="editOptionMode"
                 ng-blur="optionsManagement.checkOptionEdit(option)"
                 ng-class="{'td-input' : option.noEdit}"
                 ng-disabled="option.noEdit" ng-model="option.Mode"
                 title="Click the edit button to change me...." required/>
          </div>
        </td>
        <td><input class="form-control" ng-blur="optionsManagement.checkOptionEdit(option)"
                   ng-class="{'td-input' : option.noEdit}"
                   ng-disabled="option.noEdit" ng-model="option.Description"
                   title="Click the edit button to change me...." required/></td>
        <td><input class="form-control" ng-blur="optionsManagement.checkOptionEdit(option)"
                   ng-class="{'td-input' : option.noEdit}"
                   ng-disabled="option.noEdit" ng-model="option.Route"
                   title="Click the edit button to change me...." required/></td>
        <td>
          <div class="btn-group">
            <a class="btn btn-default" ng-click="option.noEdit = !option.noEdit; option.requestSuccess = false;"
               aria-hidden="false">
              <i class="fa fa-pencil-square-o" style="color: #e38d13"></i>
            </a>
            <a class="btn btn-default" ng-click="optionsManagement.deleteOption(option)">
              <i class="fa fa-remove" style="color: red"></i>
            </a>
            <a class="btn btn-default" ng-click="optionsManagement.updateOption(option)" ng-disabled="option.noEdit"
               ng-class="{'btn-disabled.disabled' : option.noEdit}" style="width: 40px">
              <i class="fa fa-save" style="color: royalblue"
                 ng-class="option.requestSuccess ? 'fa-smile-transition' : 'fa-check-transition'"></i>
              <!--<i class="fa fa-check-circle show-hide-transition" style="color: green"-->
                 <!--ng-hide="!option.requestSuccess"></i>-->
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    </form>
  </div>
  <form name="optionForm">
    <div class="input-group" style="display: flex; flex-wrap: nowrap;flex-direction: row">
      <span style="width: auto" class="form-control">Add Option</span>
      <div style="width: 15%" class="input-group" show-errors ng-model="optionsManagement.newOption.Mode">
        <input type="text" name="Mode" class="form-control"
               ng-model="optionsManagement.newOption.Mode" required
               data-toggle="tooltip" data-placement="bottom"
               title="Pick a Mode any Mode...." placeholder="Mode">
      </div>
      <!--ng-class="{'has-error' : optionForm.Description.$invalid && optionForm.Description.$dirty}"-->
      <div style="width: 40%" class="input-group" ng-model="optionsManagement.newOption.Description" show-errors>
        <input type="text" name="Description" class="form-control"
               ng-model="optionsManagement.newOption.Description" required
               data-toggle="tooltip" data-placement="bottom"
               title="Please be descriptive...." placeholder="Description">
      </div>
      <!--ng-class="{'has-error' : optionForm.Route.$invalid && optionForm.Route.$dirty}">-->
      <div style="width: 30%" show-errors ng-model="optionsManagement.newOption.Route">
        <input type="text" name="Route" class="form-control"
               ng-model="optionsManagement.newOption.Route" required show-errors
               data-toggle="tooltip" data-placement="bottom"
               title="Start the route with '/'.... " placeholder="Route">
      </div>
        <span class="form-control" style="cursor: hand; width: 50px;"
              ng-click="optionsManagement.createOption()">
                <i class="fa fa-plus-circle" style="vertical-align: middle; cursor: hand;"></i>
        </span>
    </div>
</form>
</div>
