<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <form name="optionForm" novalidate>
  <div>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Mode</th>
        <th>Description</th>
        <th>Route</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Save</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="option in optionsManagement.shipmentOptions">
        <td>{{option.OptionId}}</td>
        <td><input ng-blur="optionsManagement.checkOptionEdit(option)" ng-class="{'td-input' : option.noEdit}"
                   ng-disabled="option.noEdit" ng-model="option.Mode" /></td>
        <td><input ng-blur="optionsManagement.checkOptionEdit(option)" ng-class="{'td-input' : option.noEdit}"
                   ng-disabled="option.noEdit" ng-model="option.Description"/></td>
        <td><input ng-blur="optionsManagement.checkOptionEdit(option)" ng-class="{'td-input' : option.noEdit}"
                   ng-disabled="option.noEdit" ng-model="option.Route"/></td>
        <td>
          <i class="fa fa-pencil-square-o" ng-click="option.noEdit = !option.noEdit" aria-hidden="false"></i>
        </td>
        <td><i class="fa fa-remove" ng-click="optionsManagement.deleteOption(option)"/></td>
        <td><i class="fa fa-save" ng-click="optionsManagement.updateOption(option)" ng-show="!option.noEdit"/></td>
      </tr>
      <tr>
        <td><i class="fa fa-exclamation-triangle" ng-show="optionForm.$error.required"/></td>
        <td><input ng-model="optionsManagement.newOption.Mode" required></td>
        <td><input ng-model="optionsManagement.newOption.Description" required></td>
        <td><input ng-model="optionsManagement.newOption.Route" required></td>
        <td><i class="fa fa-plus-circle" ng-click="optionsManagement.createOption()"/></td>
      </tr>
      </tbody>
    </table>
  </div>
  </form>
</div>
