.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.td-input {
  border: none !important;
  background-image: none !important;
  background: none !important;
}

.btn-default.disabled {
  background-color: springgreen;
}

/*.show-hide-transition.ng-show{*/
  /*opacity: 0;*/
  /*transition:  all 0.5s ease;*/

/*}*/

/*.show-hide-transition.ng-hide{*/
  /*opacity: 0;*/
  /*transition: all 0.5s ease;*/
  /*animation-delay: 0.5s;*/
  /*transition-delay: 0.5s;*/
  /*-moz-animation-delay: 0.5s;*/
  /*-o-animation-delay: 0.5s;*/
  /*-webkit-animation-delay: 0.5s;*/
/*}*/
.show-hide-transition.ng-hide{
  opacity: 0;

}
.show-hide-transition.ng-hide-add{
  transition: all linear 1.5s;
  transition-delay: 1.5s;
}
.show-hide-transition.ng-hide-remove{
transition: all linear 1.5s;
}

