.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.td-input {
  border: none !important;
  background-image: none !important;
  background: none !important;
}

.btn-default.disabled {
  background-color: springgreen;
}

.show-hide-transition {
  transition: all linear 0.5s;
}

.show-hide-transition.ng-hide {
  opacity: 0;
  transition: all linear 0.5s;
  animation-delay: 0.5s;
}
.show-hide-transition.ng-show {
  opacity: 0;
  transition: all linear 0.5s;
  animation-delay: 0.5s;
}
