.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.td-input {
  border: none !important;
  background-image: none !important;
  background: none !important;
}

.btn-default.disabled {
  background-color: springgreen;
}
.fa-check-transition{
  position: relative;
}
.fa-check-transition:before{
  content: "\f058";
  color: green;
  font-family: FontAwesome;
  transition: all linear 1.5s;
  font-style: normal;
}
.fa-smile-transition:before{
  content: "\f118";
  color: royalblue;
  font-size: 18px;
  font-family: FontAwesome;
  transition: all linear 1.5s;
  font-style: normal;
}
.element {
  position: relative;
}

/*replace the content value with the
corresponding value from the list below*/

.element:before {
  content: "\f000";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}
